mixin sort()
  .row 
    .col-8
      select(class="form-control" sort-select)
        option(value="position-desc") Vị trí giảm dần
        option(value="position-asc") Vị trí tăng dần
        option(value="price-desc") Giá giảm dần
        option(value="price-asc") Giá tăng dần
        option(value="title-desc") Tiêu đề từ Z đến A
        option(value="title-asc") Tiêu đề từ A đến Z
    .col-4.text-right
      button(
        class="btn btn-success"
        sort-clear
      ) Clear